/* -------------------------------------------------------------- 
=RESET
-------------------------------------------------------------- */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td{margin: 0;padding: 0;border: 0;font-weight: normal;font-style: normal;font-size: 100%;font-family: inherit;vertical-align: baseline;}
body{line-height: 1.5; }
/* Tables still need 'cellspacing="0"' in the markup. */
table{ border-collapse: separate; border-spacing: 0; }
caption, th, td{ text-align: left; font-weight: normal; }
table, td, th{ vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after{ content: ""; }
blockquote, q{ quotes: "" ""; }q

/* Remove annoying border on linked images. */
a img{ border: none; outline:none; }
focus{ border: none; outline:none; }

.container.white, .container.white-sidebar{background-color: #FFF;}
.container.white-sidebar{background-image: url( "https://origin-image.alienware.com/images/css_images/bg_grey_sidebar.gif" );background-repeat: repeat-y;}
.one_column{width: 920px;padding: 5px 15px 15px 15px;}
.column, .last_column, .first_column{float: left;margin: 0 5px 0 0;padding: 12px 0 0 0;}
.first_column{padding: 12px 0 0 10px;}
.last_column{margin: 0;}
.has_sidebar{	padding-left: 5px;}
