#TopNavigation_v2c .firsttwolinks, #TopNavigation_v2c .secondtwolinks 				{width:100%;font-size:16px; float:left;position:static}
#TopNavigation_v2c .firsttwolinks													{width:100%;padding: 0 57px 0 0;}
#TopNavigation_v2c .secondtwolinks													{width:100% !important;text-align:right;}
#TopNavigation_v2c .secondtwolinks a:hover											{width:100%;text-align:right;}
#TopNavigation_v2c ul li 																{width:24.5%; float:left;}
#TopNavigation_v2c ul li.butt_Products ul div.bottom_cap								{position:absolute; top:0px;background:#14120e; filter:alpha(opacity=85); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; opacity:.85; }
#TopNavigation_v2c ul li.butt_Support ul div.bottom_cap									{position:absolute; top:0px;background:#14120e; filter:alpha(opacity=85); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; opacity:.85;}
#TopNavigation_v2c ul li.butt_Community ul div.bottom_cap								{position:absolute; top:0px;background:#14120e; filter:alpha(opacity=85); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; opacity:.85;}
#TopNavigation_v2c LI.Products_Menu DIV.Right										{top:-21px; left:748px;}
#TopNavigation_v2c UL LI UL LI h4														{color:#fff;}
#alien_fx_category_page h5															{width:200px;}

div#innerHeader #headerAddContent .butt_Click_to_Chat								{}
#home_featured_banners .headline														{}
#home_featured_banners .promo_banner_copy_joker					{top:7%;}

#homepage_buckets #bucket1, #homepage_buckets #bucket2, #homepage_buckets #bucket3	{margin:0 2.5% 0 0 !important; max-width:219px;}
#homepage_buckets #bucket4															{margin:0 !important; max-width:219px;}
#homepage_buckets .bucket_label		
												{background:#000; left:0;}

#mainBackground_GameVictorious {max-height:850px;
	background-image: url('http://image.alienware.com/images/global_images/landings_bg_13-11-13.jpg') center;
								filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
								src='http://image.alienware.com/images/global_images/landings_bg_13-11-13.jpg',
								sizingMethod='scale');

								-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
								src='http://image.alienware.com/images/global_images/landings_bg_13-11-13.jpg',
								sizingMethod='scale')"; 
								background-size: 100% 800px;}

#homepage_BG {max-height:1100px;
	background-image: url('http://image.alienware.com/images/global_images/homepagebackground-brand-texture.jpg') center;
								filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
								src='http://image.alienware.com/images/global_images/homepagebackground-brand-texture.jpg',
								sizingMethod='scale');

								-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
								src='http://image.alienware.com/images/global_images/homepagebackground-brand-texture.jpg',
								sizingMethod='scale')"; 
								background-size: 100% 800px;}


								
/*holiday homepage*/
#home_featured_banners .heroCopy													{font-weight:bold; padding-top:100px;}

#promotions .Topper_Banners_06 li img	{margin-left:-15px;}
#promotions #row1 .bullets_v2a #last {padding-bottom:15px;}

#mainBackground_GameVictorious								{background:url("http://image.alienware.com/images/global_images/landings_bg_13-11-13.jpg") no-repeat scroll center top / 100% 530px;}
#steam-machine-faqs .faqs-headline						{line-height:35px !important;}
